# dirs
data/
.idea/
.vscode/
__pycache__/
checkpoints/
logs/
analysis/
notebooks/
**/.ipynb_checkpoints/

# files
*.tif
*.jpg
*.png
*.txt
*.csv
*.log
*.pth
*.pyc
*.zip
setup.sh

# scratch file
*keras*

# exclued
!src/data
!requirements.txt

# project specific automation
activate_torch.sh

